@CHARSET "ISO-8859-1";

/* General Page Styling */

html {
	height: calc(100%);
	width: calc(100%);
}

body {
	background-color: #484C55;
	height: calc(100%);
	width: calc(100%);
}

div {
	background-color: #FFFFFF;
	border-radius: 10px;
}

.clear-div {
	background-color: transparent;
}


	/* Forms */
input {
	border-radius: 5px;
	border-width: 2px;
}
	
input::selection {
	background: #ff8d51;
}	

.form-block {
	font-size: 1.5em; 
	margin-top:  calc(2%);
	margin-bottom: calc(2%);
}

/* Bootstrap class. Stolen cause it makes selects look pretty */
.form-control {
	width: auto; /* Negates bootstrap's setting this to 100% */
}

	/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Login Page Styling */

.login {
	height: calc(40%);
	margin-left: calc(35%);
	margin-top: calc(5%);
	width: calc(20%);
}

.login > * {
	height: calc(100%);
}

.login div {
	height: calc(15%);
	font-size: 1em;
	font-weight: bold;
	margin-top: calc(5%);
}

.login form > div > input {
	font-size: 1.2em;
	height: calc(60%);
}

.login > form > input {
	background-color: #5abf52;
	border-color: #5abf52;
	border-width: 1px;
	color: #FFFFFF;
	font-size: 1.5em;
	margin-top: calc(5%);
	margin-left: calc(5%);
	width: calc(90%);
}

/* Homepage Styling */

.home-top {
	height: calc(60%);
}

.home-bottom {
	height: calc(60%);
}

.home-bottom > a {
	background-color: #FFFFFF;
	border-radius: 10px;
	font-size: 1.5em;
	padding: 5px;
}

/* Account Page Styling */

.clear-div > button {
	margin-left: calc(85%);
}

.account-display {
	margin-left: calc(25%);
}

.account-display > div {
	margin-bottom: calc(2%);
}

.account-display > div h2,h4 {
	text-align: center;
}

.account-display > input {
	float: right;
}

.account-form {
	display: none;
	margin-left: calc(25%)
}

.account-form > h3 {
	text-align: center;
	text-decoration: underline;
}
 
.account-form > form > input {
	margin-bottom: calc(2%);
} 

.account-form input {
	float: right;
}

.side-stack > div {
	font-size: 1.15em;
	width: calc(50%);
}

.account .table-box > h3 {
	margin-bottom: calc(1%);
}

/* Reimbursement Page Styling */

.reimForm > textarea{
	padding-left: calc(50%);
}

.table-top {
	background-color: blue;
}

.table-box {
	background-color: purple;
}

.table-box table {
	background-color: white;
	border-collapse: collapse;
	table-layout: fixed;
}

.table-box table tr:nth-child(even) {
   background-color: #ccc;
}

.table-box table, th, td {
	border: 2px solid black;
}

.search-box {
	float: right;
	margin-left: auto;
	position: relative;
}

.reimb-attr {
	margin : 20px 0px 20px calc(75%);
}

.reim-attr > select {
	margin: calc(2%);
}

.reimb-attr > select:last-child {
	float: right;
	position: relative;
}

.reimb-attr .reimb-emps {
	float: left;
}

.mod-table {
	float: right;
	position: relative;
}
